<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/app.css" type="text/css">
</head>
<body class="container" ng-app="todoApp">
<div ng-controller="TodoListController as todoList">
    <span>{{todoList.remaining()}} of {{todoList.todos.length}} [<a href="" ng-click="todoList.archive()">Archive</a>]</span>
    <ul class="list-unstyled">
        <li ng-repeat="todo in todoList.todos">
            <input type="checkbox" ng-checked="todo.done" ng-model="todo.done"/>
            <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
    </ul>
    <form ng-submit="todoList.addTodo()">
        <input type="text" ng-model="todoList.todoText"/>
        <input type="submit" class="btn-primary" value="Add"/>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script type="text/javascript" src="scripts/app.js"></script>
</body>
</html>
